html, body {
  height: 100%;
  background-color: #142f44;
  --btn-red: #faa;
  --btn-red-hover: #e99;
  --btn-red-press: #d88;

  --btn-blue: #aaf;
  --btn-blue-hover: #99e;
  --btn-blue-press: #88d;
}

#wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  text-align: right;
  background-color: #d9e8f5;
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
}

#calc-display {
  margin-right: 10px;
  margin-top: 10px;
}

#result-display {
  font-size: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

#calculator {
  display: grid;
  height: 500px;
  width: 400px;
  grid-template-rows: 25% 75%;
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  padding: 50px;
  background-color: rgb(107, 107, 107);
  box-shadow: 5px 10px;
}

#buttons {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

#zero-button {
  grid-column: span 2;
}

#equal-button, .op-button {
  background-color: var(--btn-blue);
}

#equal-button:hover, .op-button:hover {
  background-color: var(--btn-blue-hover);
} 

.red-button {
  background-color: var(--btn-red);
  transition-duration: 0.1s;
}

.red-button:hover {
  background-color: var(--btn-red-hover);
}

button {
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  font-size: 24px;
  background-color: #a2bbcf;
}

button:hover {
  background-color: #8ca8c0;
}

button:active {
  transform:translateY(3px);
}
